<div class ='container'>

	<h1>Editing Pet</h1>

	<%= render 'form' %>

	<br>

	<div class="btn-group btn-group-xs" role="group" aria-label="...">
	<button type="button" class="btn btn-default"><%= link_to 'Show', @pet %></button>
	<button type="button" class="btn btn-default"><%= link_to 'Back', pets_path %></button>
</div>
	

</div>
